/* replace material icons with amazing */

/* good use of em and rem values, make layout more scalable. Try to be more 
consistent with using it tough, rem and em can be used for margin and paddings with favirably */
/* try to work more with rem values in your margin and paddings */
/* brush up on using em and rem together 
( https://j.eremy.net/confused-about-rem-and-em/ )
*/

/* nice that you used css grid for section 4. 
try to prefer 
flexbox over grid for simpler layout tasks 
*/

@import url(fonts.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --corner-radius: 3px;
  --white-page-background: #fff;
  --white-text: #fff;
  --green-adyen: #0abf53;
  --blue-text: #00112c;
  --blue-background: #00112c;
  --grey-background: #f1f4f8;
  --blue-bottom-border: #374661;
  --blue-social-logo: #949fb0;
  --dark-green-buttons-hover: #167d30;
}

body {
  font-family: 'Fakt', sans-serif, Helvetica, Arial;
  font-weight: 200;
  font-style: normal;
}
h1 {
  margin-bottom: 1rem;

  font-size: 4rem;
  font-weight: 600;
  line-height: 4.625rem;
}
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  margin-bottom: 0.3rem;

  font-size: 1rem;
}
p {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.878rem;
}
.page-container {
  width: 100%;
  margin: auto;
  padding: 0px 1.5625rem;
}
.center-both {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-vertically {
  display: flex;
  align-items: center; /* Align vertically */
  justify-content: flex-start;
}
.left-percent {
  width: 80%;
}
.white-text {
  color: var(--white-text);
}
.blue-text {
  color: var(--blue-text);
}
.green-text {
  color: var(--green-adyen);
}
/* ********************* Header menu ********************** */
nav {
  height: 4.5rem;
  display: flex;
}
.adyen-logo {
  margin-right: 2rem;
  /* negative margin to fix centering 
  of asymmetric icon */
  margin-top: -0.3125rem;
  width: 6.25rem;
}
a.menu-item {
  margin-right: 1.8rem;
  text-decoration: none;
  color: var(--blue-text);
  font-weight: 200;
  border-top: 4px solid transparent;
}
a.menu-item i {
  margin-left: 0.4rem;
  font-size: 0.9rem;
}
a.menu-item:hover {
  border-top: 4px solid var(--green-adyen);
}
a.search {
  margin-right: 1rem;
  padding: 0 1rem;
  /* Align right for menu items 
  right from search icon  */
  margin-left: auto;
  font-size: 0.9rem;
}
.side-bar {
  margin-left: auto;
  font-size: 1.5rem;
}
/* ********************* buttons ********************** */
a.green-button {
  display: inline-block;
  background-color: var(--green-adyen);
  border-radius: var(--corner-radius);
  color: var(--white-text);
  height: 42px;
  line-height: 42px;
  padding: 0 1.5rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  overflow: hidden;
  font-weight: 500;
  letter-spacing: 0.03rem;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
a.green-button:hover {
  background-color: var(--dark-green-buttons-hover);
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

a.green-text-button {
  display: inline-block;
  margin-top: 25px;
  color: var(--green-adyen);
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  padding: 0.8rem 0;
}
a.green-text-button i {
  font-size: 0.7rem;
}
a.green-text-button:hover {
  border-bottom: 1px solid var(--green-adyen);
}

.social-logo {
  background: var(--blue-background);
  border: 1px solid var(--blue-bottom-border);
  border-radius: var(--corner-radius);
  height: 42px;
  width: 42px;
  overflow: hidden;
}
.social-logo a {
  color: var(--blue-social-logo);
  padding: 20px;
}
.social-logos-container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 150px;
}
/* ******************** Media ************************* */
.responsive-img {
  width: 100%;
}
.green-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 25px;
}

/* **************** Payments ****************** */

.payments {
  overflow-x: hidden;
}
.payments article:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.payments article:last-child {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.payments .green-button {
  margin-top: 2rem;
}
.payments h1 {
  margin-top: -3rem;
}

/* ********************** growth-revenue  **********************/
section.growth-revenue {
  background: var(--grey-background);
  padding: 80px 0;
}
.growth-revenue {
  display: flex;
}
.growth-revenue article {
  flex-basis: 33.33%;
  text-align: center;
  padding: 20px;
}

.spacer {
  background-color: var(--grey-background);
}
.spacer div {
  background-color: var(--white-page-background);
  max-width: 100%;
  height: 7vw;
  margin: 0 25px;
}

/* ********************** sales-channels  **********************/

.sales-channels {
  padding: 30px 28% 100px 28%;
  text-align: center;
}

/* ********************** online-payments  **********************/

section.online-payments {
  padding-bottom: 100px;
}
.online-payments .page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}
.online-payments article img {
  margin-bottom: 20px;
}

/* ******************** Footer ********************** */

footer {
  color: var(--white-text);
  background-color: var(--blue-background);
  padding: 100px 0 5px 0;
}
footer a {
  color: var(--white-text);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

/* ******************** Footer Sections ********************** */

.footer-menu {
  /* ----------spacing---------- */
  padding-bottom: 1.5625rem;
  /* --------------------------- */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.footer-menu ul {
  letter-spacing: 0.02rem;
  list-style: none;
}
.footer-menu li {
  /* ----------spacing---------- */
  margin-bottom: 0.3rem;
  /* --------------------------- */
  line-height: 1.7rem;
}
.footer-menu section {
  /* ----------spacing---------- */
  padding: 0 15px;
  /* --------------------------- */
  grid-column: span 1;
}
.footer-menu section:first-child {
  /* ----------spacing---------- */
  padding-left: 0;
  /* --------------------------- */
}
.footer-menu section:last-child {
  /* ----------spacing---------- */
  padding-right: 0;
  padding-top: 2rem;
  /* --------------------------- */
  grid-column: span 2;
}
.footer-menu p {
  font-size: 0.75rem;
  font-weight: 200;
  line-height: 1.4rem;
  color: var(--blue-social-logo);
}
.footer-menu a.green-text:hover {
  text-decoration: none;
}
/* ************************** Email textfield ********************* */
.email-textfield {
  --input-height: 3.125rem;
  /* ----------spacing---------- */
  margin-top: 1rem;
  /* --------------------------- */
  height: var(--input-height);
  width: 100%;
  border: 1px solid var(--blue-social-logo);
  border-radius: var(--corner-radius);
  overflow: hidden;
  display: flex;
}
.email-textfield div:first-child {
  flex-basis: 100%;
  background-color: var(--blue-background);
}
.email-textfield div:last-child {
  flex-shrink: 0;
  flex-basis: var(--input-height);
  background-color: var(--white-page-background);
}
.email-textfield input {
  /* ----------spacing---------- */
  padding: 0.75rem;
  /* --------------------------- */
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  color: var(--white-text);
}
.email-textfield input::placeholder {
  font-size: 1rem;
  color: var(--blue-social-logo);
  font-weight: 300;
}

/* ************************ Footer bottom ************************ */
.footer-bottom {
  /* ----------spacing---------- */
  padding-top: 0.625rem;
  /* --------------------------- */
  border-top: 1px solid var(--blue-bottom-border);
  display: flex;
}
.footer-bottom div:last-child {
  margin-left: auto;
}
.footer-bottom div:first-child p {
  font-size: 0.75rem;
}
.footer-bottom div:last-child p {
  font-size: 1rem;
  letter-spacing: 0.03rem;
}
.footer-bottom div:last-child a {
  font-weight: 400;
}
.footer-bottom div:last-child a:hover {
  text-decoration: none;
}

/* *************** Mobile Phone **************** */

@media screen and (max-width: 449px) {
  .menu-item,
  nav .green-button {
    display: none;
  }
  .payments div {
    grid-column: span 2;
  }
  .payments h1 {
    margin-top: 2rem;
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
  a.green-button,
  a.green-text-button {
    width: 100%;
  }
  .left-percent {
    width: 100%;
  }
  .payments article:first-child {
    row-gap: 2rem;
  }
  section.growth-revenue {
    padding: 50px 0;
  }
  .growth-revenue {
    flex-direction: column;
  }
  .growth-revenue article {
    flex-basis: 100%;

    padding: 20px 0;
  }
  .spacer {
    display: none;
  }
  #sales-channels {
    padding: 50px 25px 60px 25px;
  }
  .online-payments {
    padding-bottom: 50px;
  }
  .online-payments article {
    grid-column: span 2;
  }
  footer {
    padding-top: 50px;
  }
  .footer-menu {
    row-gap: 2rem;
  }
  .footer-menu section {
    grid-column: span 3;
  }
  .footer-menu section:last-child {
    grid-column: span 6;
    padding-top: 0;
  }
  .footer-menu section:nth-child(odd) {
    padding-left: 0;
  }
  .footer-bottom {
    flex-direction: column-reverse;
  }
  .footer-bottom div:last-child {
    margin-left: unset;
  }
  .footer-bottom div:last-child p {
    margin-bottom: 5px;
  }
}

/*************** Small screens ****************/
@media screen and (min-width: 450px) and (max-width: 769px) {
  .menu-item,
  nav .green-button {
    display: none;
  }
  .payments div {
    grid-column: span 2;
  }
  .payments h1 {
    margin-top: 2rem;
  }
  .left-percent {
    width: 100%;
  }
  .payments article:first-child {
    row-gap: 2rem;
  }
  section.growth-revenue {
    padding: 50px 0;
  }
  .growth-revenue {
    flex-direction: column;
  }
  .spacer {
    display: none;
  }
  #sales-channels {
    padding: 50px 25px 60px 25px;
  }
  .online-payments {
    padding-bottom: 50px;
  }
  .online-payments article {
    grid-column: span 2;
  }
  footer {
    padding-top: 50px;
  }
  .footer-menu {
    row-gap: 2rem;
  }
  .footer-menu section {
    grid-column: span 3;
  }
  .footer-menu section:last-child {
    grid-column: span 4;
    padding-top: 0;
  }
  .footer-menu section:nth-child(odd) {
    padding-left: 0;
  }
  .footer-bottom {
    flex-direction: column-reverse;
  }
  .footer-bottom div:last-child {
    margin-left: unset;
  }
  .footer-bottom div:last-child p {
    margin-bottom: 5px;
  }
}
/***************** Medium screens *********************/
@media screen and (min-width: 770px) and (max-width: 1249px) {
  .menu-item,
  nav .green-button {
    display: none;
  }
}
/******************** Large screens ***********************/
@media screen and (min-width: 1250px) {
  .side-bar {
    display: none;
  }
  .page-container {
    width: 1250px;
  }
  .spacer div {
    width: 1200px;
    margin: auto;
  }
}
