@import url(fonts.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --greenAdyen: #1cb642;
  --blueText: #000e21;
  --blueBG: #030d26;
  --greyBG: #f1f4f8;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Fakt', sans-serif, Helvetica, Arial;
  font-weight: 200;
  font-style: normal;
}
h1 {
  font-size: 4rem;
  line-height: 4.625rem;
  margin-bottom: 1rem;
}
p {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.878rem;
}
.pageContainer {
  width: 100%;
  margin: auto;
  padding: 0px 25px;
}
.centerBoth {
  display: flex;
  align-items: center;
  justify-content: center;
}
.centerVertically {
  display: flex;
  align-items: center; /* Align vertically */
  justify-content: flex-start;
}
.leftPercent {
  width: 80%;
}
/* ********************* Header menu ********************** */
nav {
  display: flex;
  flex-direction: row;
  align-items: center; /* Align vertically */
  justify-content: flex-start; /* Horizontally */
  height: 72px;
}
.adyenLogo {
  height: 72px;
  width: 100px;
  padding-top: 14px;
  float: left;
}
.sideBar {
  margin-top: 20px;
  float: right;
}
.menuItem {
  height: 100%;
  font-weight: 200;
  border-top: 4px solid white;
}
.menuItem a {
  text-decoration: none;
  color: var(--blueText);
}
.menuLeft {
  margin-left: 35px;
}
.menuRight {
  margin-right: 20px;
}
.menuItem:hover {
  border-top: 4px solid var(--greenAdyen);
}
.divider {
  padding: 0 20px;
  margin-left: auto;
  margin-right: 20px;
}
/* ********************* buttons ********************** */

.button a:hover {
  background-color: #167d30;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.button a {
  color: white;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  background-color: var(--greenAdyen);
  font-weight: 500;
  letter-spacing: 0.03rem;
  padding: 0.8rem 1.5rem;
  border-radius: 3px;
  cursor: pointer;
}
/* ******************** Media ************************* */
.responsiveImg {
  width: 100%;
}

/* Clear floats */
header::after {
  content: '';
  clear: both;
  display: table;
}
/* **************** Payments ****************** */

.payments article:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.payments article:last-child {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.payments .button {
  margin-top: 2rem;
}
.payments h1 {
  margin-top: -3rem;
}

/* ******************** Footer ********************** */

footer {
  color: white;
  background-color: var(--blueBG);
  padding: 100px 25px 25px 25px;
}
footer h5 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
footer ul {
  list-style: none;
  letter-spacing: 0.02rem;
}
footer li {
  margin-bottom: 0.3rem;
  line-height: 1.7rem;
}
footer a {
  color: white;
  text-decoration: none;
}
.footerMenu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.footerMenu div {
  grid-column: span 1;
  padding: 0 15px;
}
.footerMenu div:first-child {
  padding-left: 0;
}
.footerMenu div:last-child {
  grid-column: span 2;
}
.footerMenu p {
  font-size: 0.8rem;
  font-family: 'Fakt Hair';
  line-height: 1.4rem;
}
/*************** Small screens ****************/
@media screen and (max-width: 770px) {
  nav {
    display: none;
  }
  .payments div {
    grid-column: span 2;
  }
  .payments h1 {
    margin-top: 2rem;
  }
  .leftPercent {
    width: 100%;
  }
  .payments article:first-child {
    row-gap: 2rem;
  }
  footer {
    padding-top: 50px;
  }
  .footerMenu {
    row-gap: 50px;
  }
  .footerMenu div {
    grid-column: span 3;
  }
  .footerMenu div:last-child {
    grid-column: span 4;
  }
}
/***************** Medium screens *********************/
@media screen and (min-width: 770px) and (max-width: 1250px) {
  nav {
    display: none;
  }
}
/******************** Large screens ***********************/
@media screen and (min-width: 1250px) {
  .sideBar {
    display: none;
  }
  .pageContainer {
    width: 1250px;
  }
}
