@import url(fonts.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --greenAdyen: #1cb642;
  --blueText: #000e21;
  --blueBG: #030d26;
  --greyBG: #f1f4f8;
  --bottomBorger: #2a364e;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Fakt', sans-serif, Helvetica, Arial;
  font-weight: 200;
  font-style: normal;
}
h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.625rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 3rem;
  font-weight: 500;
}
h3 {
  font-size: 2rem;
  font-weight: 500;
}
p {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.878rem;
}
.pageContainer {
  width: 100%;
  margin: auto;
  padding: 0px 25px;
}
.centerBoth {
  display: flex;
  align-items: center;
  justify-content: center;
}
.centerVertically {
  display: flex;
  align-items: center; /* Align vertically */
  justify-content: flex-start;
}
.leftPercent {
  width: 80%;
}
/* ********************* Header menu ********************** */
nav {
  display: flex;
  flex-direction: row;
  align-items: center; /* Align vertically */
  justify-content: flex-start; /* Horizontally */
  height: 72px;
}
.adyenLogo {
  height: 72px;
  width: 100px;
  padding-top: 14px;
  float: left;
}
.sideBar {
  margin-top: 20px;
  float: right;
}
.menuItem {
  height: 100%;
  font-weight: 200;
  border-top: 4px solid white;
}
.menuItem a {
  text-decoration: none;
  color: var(--blueText);
}
.menuLeft {
  margin-left: 35px;
}
.menuRight {
  margin-right: 20px;
}
.menuItem:hover {
  border-top: 4px solid var(--greenAdyen);
}
.divider {
  padding: 0 20px;
  margin-left: auto;
  margin-right: 20px;
}
/* Clear floats */
header::after {
  content: '';
  clear: both;
  display: table;
}
/* ********************* buttons ********************** */

.button a:hover {
  background-color: #167d30;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.button a {
  color: white;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  background-color: var(--greenAdyen);
  font-weight: 500;
  letter-spacing: 0.03rem;
  padding: 0.8rem 1.5rem;
  border-radius: 3px;
  cursor: pointer;
}
.button2 {
  margin-top: 25px;
}
.button2 a {
  color: var(--greenAdyen);
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  padding: 0.8rem 0;
}
.button2 a i {
  font-size: 0.7rem;
}
.button2 a:hover {
  border-bottom: 1px solid var(--greenAdyen);
}
.socialLogo {
  background: var(--blueBG);
  border: 1px solid var(--bottomBorger);
  border-radius: 3px;
  height: 42px;
  width: 42px;
  overflow: hidden;
}
.socialLogo a {
  color: #949fb0;
  padding: 20px;
}
.socialLogosContainer {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 150px;
}
/* ******************** Media ************************* */
.responsiveImg {
  width: 100%;
}
.greenIcon {
  width: 40px;
  height: 40px;
  margin-bottom: 25px;
}

/* **************** Payments ****************** */

#payments article:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#payments article:last-child {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
#payments .button {
  margin-top: 2rem;
}
#payments h1 {
  margin-top: -3rem;
}

/* ********************** Section2  **********************/
#section2 {
  background: var(--greyBG);
  padding: 80px 0;
}
.section2 {
  display: flex;
}
.section2 article {
  flex-basis: 33.33%;
  text-align: center;
  padding: 20px;
}

/* I dont know why, but original page has something like spacer between section 2 and 3 */
/* It has a very cpecific behaviour: 
- height is changing depending on the page width;
- it has fixed size margins on medium screens while on big they begin to grow
- on small screens the spacer disappears
All this looks like a bug on a page but despite that I tried to copy it exactly
*/

.spacer {
  background-color: var(--greyBG);
}
.spacer div {
  background-color: white;
  max-width: 100%;
  height: 7vw;
  margin: 0 25px;
}

/* ********************** Section3  **********************/

#section3 {
  padding: 30px 28% 100px 28%;
  text-align: center;
}

/* ******************** Footer ********************** */

footer {
  color: white;
  background-color: var(--blueBG);
  padding: 100px 0 5px 0;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

/* ******************** Footer Sections ********************** */

.footerMenu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-bottom: 25px;
}
.footerMenu h5 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.footerMenu ul {
  list-style: none;
  letter-spacing: 0.02rem;
}
.footerMenu li {
  margin-bottom: 0.3rem;
  line-height: 1.7rem;
}
.footerMenu section {
  grid-column: span 1;
  padding: 0 15px;
}
.footerMenu section:first-child {
  padding-left: 0;
}
.footerMenu section:last-child {
  grid-column: span 2;
  padding-top: 2rem;
}
.footerMenu p {
  font-size: 0.8rem;
  font-family: 'Fakt Hair';
  line-height: 1.4rem;
}
/* ************************** Email textfield ********************* */
.emailTextfield {
  height: 50px;
  width: 100%;
  border: 1px solid #949fb0;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  margin-top: 15px;
}
.emailTextfield div:first-child {
  flex-basis: 100%;
  background-color: var(--blueBG);
}
.emailTextfield div:last-child {
  flex-shrink: 0;
  flex-basis: 50px;
  background-color: white;
}
.emailTextfield input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  padding: 12px;
  color: white;
}
.emailTextfield input::placeholder {
  font-size: 1rem;
  color: white;
  font-family: 'Fakt';
  font-weight: 100;
}
.emailRightAngle {
  color: var(--blueText);
  font-size: 14px;
}
/* ************************ Footer bottom ************************ */
.footerBottom {
  border-top: 1px solid var(--bottomBorger);
  padding-top: 10px;
  display: flex;
}
.footerBottom div:last-child {
  margin-left: auto;
}
.footerBottom div:first-child p {
  font-size: 0.75rem;
}
.footerBottom div:last-child p {
  font-size: 1rem;
  letter-spacing: 0.03rem;
}
.footerBottom div:last-child a {
  font-weight: 400;
}
.footerBottom div:last-child a:hover {
  text-decoration: none;
}
.privacyStatement {
  color: var(--greenAdyen);
  font-family: 'Fakt';
  font-weight: 200;
}
.privacyStatement:hover {
  text-decoration: none;
}
.greenArrow {
  color: var(--greenAdyen);
}
/*************** Small screens ****************/
@media screen and (max-width: 770px) {
  nav {
    display: none;
  }
  #payments div {
    grid-column: span 2;
  }
  #payments h1 {
    margin-top: 2rem;
  }
  .leftPercent {
    width: 100%;
  }
  #payments article:first-child {
    row-gap: 2rem;
  }
  #section2 {
    padding: 50px 0;
  }
  .section2 {
    flex-direction: column;
  }
  .spacer {
    display: none;
  }
  #section3 {
    padding: 50px 25px 60px 25px;
  }
  footer {
    padding-top: 50px;
  }
  .footerMenu {
    row-gap: 2rem;
  }
  .footerMenu section {
    grid-column: span 3;
  }
  .footerMenu section:last-child {
    grid-column: span 4;
    padding-top: 0;
  }
  .footerMenu section:nth-child(odd) {
    padding-left: 0;
  }
  .footerBottom {
    flex-direction: column-reverse;
  }
  .footerBottom div:last-child {
    margin-left: unset;
  }
  .footerBottom div:last-child p {
    margin-bottom: 5px;
  }
}
/***************** Medium screens *********************/
@media screen and (min-width: 770px) and (max-width: 1250px) {
  nav {
    display: none;
  }
}
/******************** Large screens ***********************/
@media screen and (min-width: 1250px) {
  .sideBar {
    display: none;
  }
  .pageContainer {
    width: 1250px;
  }
  .spacer div {
    width: 1200px;
    margin: auto;
  }
}
